:root {
  --font-size-m: 18px;
  --font-size-s: 15px;
  --font-size-l: 22px;

  --font-line-m: 20px;
  --font-line-s: 17px;
  --font-line-l: 24px;

  --sarchIconSize-l: 32px;
  --sarchIconSize-m: 24px;
  --sarchIconSize-s: 18px;

  --main-bg-color: white;
  --second-bg-color: #e5e3e3;

  --main-text-color: black;
  --second-text-color: #6c6c6c;

  --min-height-navBar-l: 50px;
  --min-height-navBar-mobile: 50px;

  --min-height-footer-l: 70px;
}