.select {
  width: 100%;
  appearance: none;
  font-size: var(--font-size-l);
  padding: 10px 5px 10px 5px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.custom-select {
  min-width: 350px;
  position: relative;
}

.selectWrapper {
  position: relative;
  width: 150px;
}

.sortBy {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  color: black;
}

.selectWrapper::after {
  --size: 7px;
  content: "";
  position: absolute;
  right: 15px;
  pointer-events: none;
}

.selectWrapper::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  top: calc(50% - 7px / 2);
}

@media only screen and (min-width: 720px) and (max-width: 1140px) {
  .sortBy {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }

  .select {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }

  .container {
    gap: 5px;
  }
}

@media only screen and (max-width: 720px) {
  .sortBy {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }

  .select {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }

  .container {
    width: 200px;
  }
}